.show-body {
    width: 1280px;
    padding: 0px 80px;
    box-sizing: border-box;
    margin: auto;

}

.show-header {
    padding-top: 24px;
    box-sizing: border-box;
}

.listing-name {
    font-family:'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-weight: 600;
    line-height: 30px;
    font-size: 26px;
    margin-bottom: 4px;
}

.listing-location {
    margin-top: 8px;
    font-family:'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    color: rgb(34, 34, 34);
    line-height: 20px;
}

.show-image-container {
    display: flex;
    flex-direction: row;
    line-height: 0;
    margin-top: 24px;
    overflow: hidden;
    border-radius: 12px;

}

.show-left-image {
    width: 560px;
    height: 487.39px;
}

.show-image {
    width: 272px;
    height: 239.69px;

}

.smaller-image-container {
    display: flex;
    
}

.smaller-image-column-1 {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}

.smaller-image-column-2 {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}

.show-image-2{
    width: 272px;
    height: 239.69px;
    padding-top: 8px;
}

.show-listing-information {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 24px;
}

.show-listing-owner {
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}

.show-listing-specific-information {
    display: flex;
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
}

.show-body-information {
    display: flex;
    flex-direction: row;
}

.show-body-information-tab {
    width: 58.333333333333336%;
    display: flex;
    flex-direction: column;
}

.information-line {
    border: 1px solid rgb(221, 221, 221);
}

.show-body-description-container {
    padding-top: 32px;
    padding-bottom: 48px;
    
}

.show-body-description {
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-listing-highlight-information {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 24px;
} 

.show-listing-superhost {
    display: flex;
    flex-direction: row;
}

.show-listing-location {
    display: flex;
    flex-direction: row;
}

.show-listing-experience {
    display: flex;
    flex-direction: row;
}

.highlight-information-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.superlocationIcon {
    margin-right: 6px;
}

.highlight-title {
    color: rgb(34, 34, 34);
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
}

.highlight-information {
    color: rgb(113, 113, 113);
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}


/* Reservation css Page */


.show-body-reservation {
    position: relative;
    width: 33.33333333333333%;
    margin-left: 8.333333333333332%;
}

.reservation-container {
    position: sticky;
    top: 80px;
    z-index: 1;
    width: 100%;
    padding-right: 1px;
    padding-bottom: 48px;
}

.reservation-div {
    box-sizing: border-box;
    margin-top: 48px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}   
.reservation-title {
    margin-bottom: 24px;
}

.reservation-title-price {
    font-weight: 600;
    color: rgb(34, 34, 34);
    font-size: 22px;
    list-style: 26px;
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
}

.reservation-title-night {
    font-weight: 400;
    color: rgb(34, 34, 34);
    font-size: 16px;
    list-style: 22px;
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
}



.reservation-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-form-container form {
    width: 100%;
}

.reservation-form-input {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgb(185,185,185);
    overflow: hidden;
}
.reservation-form-date-container {
    width: 100%;
    display: flex;
    height: 56px;
}

.reservation-form-guests-container {
    height: 56px;
    border-top: 1px solid rgb(185,185,185);
    position: relative;
}

.check-in-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}



.check-out-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(185,185,185);
    position: relative;
    
}
.check-out-form input{
    width: 100%;
}

.check-in-text, .check-out-text, .guests-text{
    position: absolute;
    top: 12px;
    left: 12px;
    color: black;
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}

.check-in-input, .check-out-input{
    padding: 26px 12px 10px;
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgb(113, 113, 113);
}

.guests-input  {
    width: 100%;
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: black;
    padding: 26px 36px 10px 12px;
}

.reservation-submit-button {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
    color: white;
    background-image: radial-gradient( circle at center,#FF385C 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% );
    font-family: 'Circular', '-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}