.email-sign-in-page{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.email-sign-in-page form{
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.email-sign-in-page form input{
  width: 100%;
  box-sizing: border-box;
}

.email-sign-in-page form button{
  width: 100%;
  color: white;
  background-image: radial-gradient( circle at center,#FF385C 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% );
}

.email-sign-in-form-container {
  width: 100%;

}

.email-sign-in-form-input {
  width: 100%;
}

.email-sign-in-page form  h2{
  color: #222222;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 22px;
  border-bottom: 1px solid #F7F7F7;

  margin-top: 8px;
  margin-bottom: 24px;
  box-sizing: border-box;
  line-height: 26px;

}

.email-sign-in-header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  display: flex;
  margin: auto;
  color: #222222;
  border-bottom: 1px solid rgba(235, 235, 235, 0.039);
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 1em;
}
.email-sign-in-form-line {
  box-sizing: border-box;
  border: 1px solid rgb(228,228,228);
  width: 100%;
}